.Home {
  text-align: center;
  background: url(/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Home__logo {
  margin-top: 80px;
}

.Home__logo img {
  width: 150px;
}

.Home__center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
  width: 700px;
  text-align: left;
}

.Home__header {
  color: #fff;
  font-size: 30px;
}