button {
  width: 140px;
  border: 0;
  color: #fff;
  font-size: 14px;
  background-color: #39b54A;
  text-transform: uppercase;
  height: 100%;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.Search {
  display: flex;
}

.Search__icon {
  color: #767676;
  font-size: 20px;
}

.Search__area {
  flex-grow: 1;
  position: relative;
}

.Search__bar {
  border: 1px solid #EEE;
  background-color: #FFF;
  /* height: 40px; */
  align-items: center;
  display: flex;
  padding: 10px;
}

.Search__options {
  text-align: left;
  position: absolute;
  width: 100%;
  background-color: white;
  margin-right: 10px;
  max-height: 200px;
  overflow: auto;
}

.Search__option-item {
  padding: 10px 15px;
  border: 1px solid #EEE;
  border-top: 0;
  cursor: pointer;
}

.Search__option-not-found {
  padding: 10px 15px;
  border: 1px solid #EEE;
  border-top: 0;
  color: #A5A5A5;
}

.Search__option-item .state {
  font-size: 10px;
}

.Search__button {
  margin-left: 10px;
}

.Search__input {
  flex-grow: 1;
  border: 0;
  outline: none;
  margin: 0 10px;
  color: #767676;
  font-size: 18px;
}

@media (max-width: 600px) {
  button {
    width: 90px;
  }
}