button {
  padding: 15px;
  width: 140px;
  border: 0;
  color: #fff;
  font-size: 16px;
  background-color: #39b54A;
  /* color: black; */
  text-transform: uppercase;
  height: 100%;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.Search {
  display: flex;
}

.Search__icon {
  color: #767676;
  font-size: 20px;
}

.Search__area {
  flex-grow: 1;
  position: relative;
}

.Search__bar {
  border: 1px solid #EEE;
  background-color: #FFF;
  height: 40px;
  align-items: center;
  display: flex;
  padding: 10px;
}

.Search__options {
  position: absolute;
  width: 100%;
  background-color: white;
  margin-right: 10px;
  max-height: 200px;
  overflow: auto;
}

.Search__option-item {
  padding: 10px 15px;
  border-bottom: 1px solid #EEE;
  cursor: pointer;
}

.Search__option-item .state {
  font-size: 10px;
}

.Search__button {
  margin-left: 10px;
}

.Search__input {
  flex-grow: 1;
  border: 0;
  outline: none;
  margin: 0 10px;
  color: #767676;
  font-size: 20px;
}